@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "poppins";
}

#main {
  text-align: center;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.section {
  margin: 12px;
  padding: 12px;
}

body {
  background-color: #d3d3d3;
}

.checkbox {
  padding: 11px;
  margin: 12px;
}
.checkbox-list {
  margin: 10px 0;
}
